section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.responsive {
  flex: 1 25%;
  margin: 20px;
  box-sizing: border-box;
}

.gallery {
  position: relative;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .responsive {
    flex: 1 100%; /* 100% width on mobile */
  }
}
.responsive:hover {
  transform: scale(1.05);
  opacity: 0.6;
}
