body {
  background-color: rgb(216, 238, 238);
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  margin: 10px;
  border: #333;
  border-style: solid;
  padding: 0.5rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  transition: color 0.75s ease;
}
.nav a:hover {
  color: #f5f5f5;
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.main-nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  text-align: center;
}
/* Stuff that dosen't belong in this css file  */

.current {
  background-color: #c2eeee;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
footer {
  display: block;
  border: double black;
  text-align: center;
  margin-bottom: 20px;
}
.footer-nav {
  background-color: #f5f5f5;
  padding: 1rem;
  text-align: center;
}
.foot-nav {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.footer-nav .foot-nav {
  list-style: none;

  padding: 0;
  margin: 0;
}

.footer-nav .foot-nav li {
  margin-bottom: 1rem;
}

.footer-nav .foot-nav a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: block;
}

.footer-nav .foot-nav a:hover {
  background-color: #ddd;
  color: black;
}
.footer {
  background-color: #f5f5f5;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
}
.logo-img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}
