* {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  .main-nav a {
    font-size: 15px;
  }
}
