/* google fonts */
h1,
h2,
h3,
a {
  font-family: "Alegreya Sans SC", Arial, sans-serif;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-right: auto;
  overflow: hidden;
}
.main-nav {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.35rem;
}
